## Exercise:


The sold products names for each date should be sorted lexicographically.

Return the result table ordered by sell_date.

The query result format is in the following example.

In [1]:
import pandas as pd

# create a sample dataframe
activities_df = pd.DataFrame({
    'sell_date': ['2020-05-30', '2020-06-01', '2020-06-02', '2020-05-30', '2020-06-01', '2020-06-02', '2020-05-30'],
    'product': ['Headphone', 'Pencil', 'Mask', 'Basketball', 'Bible', 'Mask', 'T-Shirt']
})

In [6]:
activities_df.shape

(7, 2)

In [7]:
activities_df.drop_duplicates(subset=["sell_date", "product"], inplace=True)

In [8]:
activities_df.shape

(6, 2)

In [2]:
activities_df.describe()

         sell_date product
count            7       7
unique           3       6
top     2020-05-30    Mask
freq             3       2

In [3]:
activities_df.dtypes

sell_date    object
product      object
dtype: object

In [4]:
activities_df.columns

Index(['sell_date', 'product'], dtype='object')

In [14]:
activities_df["sell_date"] = pd.to_datetime(activities_df["sell_date"])

In [21]:
product_counts = activities_df.groupby(["sell_date"]).agg({"product": "count"}).rename(columns={ "product":"num_sold"})
product_counts

            num_sold
sell_date
2020-05-30         3
2020-06-01         2
2020-06-02         1

In [22]:
product_concat = activities_df.groupby(["sell_date"])["product"].transform(lambda x: ", ".join(x))
product_concat

0    Headphone, Basketball, T-Shirt
1                     Pencil, Bible
2                              Mask
3    Headphone, Basketball, T-Shirt
4                     Pencil, Bible
6    Headphone, Basketball, T-Shirt
Name: product, dtype: object

In [23]:
activities_df

   sell_date     product  num_sold
0 2020-05-30   Headphone       NaN
1 2020-06-01      Pencil       NaN
2 2020-06-02        Mask       NaN
3 2020-05-30  Basketball       NaN
4 2020-06-01       Bible       NaN
6 2020-05-30     T-Shirt       NaN

In [13]:
activities_df

    sell_date     product  num_sold
0  2020-05-30   Headphone       NaN
1  2020-06-01      Pencil       NaN
2  2020-06-02        Mask       NaN
3  2020-05-30  Basketball       NaN
4  2020-06-01       Bible       NaN
6  2020-05-30     T-Shirt       NaN

In [31]:
results = activities_df.groupby(["sell_date"]).agg(num_sold=("product", "nunique"), products=("product", lambda x: ", ".join(sorted(x))))
results

            num_sold                        products
sell_date
2020-05-30         3  Basketball, Headphone, T-Shirt
2020-06-01         2                   Bible, Pencil
2020-06-02         1                            Mask

In [33]:
results.sort_values("sell_date")

            num_sold                        products
sell_date
2020-05-30         3  Basketball, Headphone, T-Shirt
2020-06-01         2                   Bible, Pencil
2020-06-02         1                            Mask