## Exercise:


The sold products names for each date should be sorted lexicographically.

Return the result table ordered by sell_date.

The query result format is in the following example.

In [1]:
import pandas as pd

# create a sample dataframe
activities_df = pd.DataFrame({
    'sell_date': ['2020-05-30', '2020-06-01', '2020-06-02', '2020-05-30', '2020-06-01', '2020-06-02', '2020-05-30'],
    'product': ['Headphone', 'Pencil', 'Mask', 'Basketball', 'Bible', 'Mask', 'T-Shirt']
})

In [2]:
activities_df.shape

(7, 2)

In [3]:
activities_df.drop_duplicates(subset=["sell_date", "product"], inplace=True)

In [4]:
activities_df.shape

(6, 2)

In [5]:
activities_df.describe()

         sell_date    product
count            6          6
unique           3          6
top     2020-05-30  Headphone
freq             3          1

In [6]:
activities_df.dtypes

sell_date    object
product      object
dtype: object

In [7]:
activities_df.columns

Index(['sell_date', 'product'], dtype='object')

In [8]:
activities_df

    sell_date     product
0  2020-05-30   Headphone
1  2020-06-01      Pencil
2  2020-06-02        Mask
3  2020-05-30  Basketball
4  2020-06-01       Bible
6  2020-05-30     T-Shirt

In [11]:
concat_fun = lambda x: ", ".join(sorted(x))
products_att = ("product", concat_fun)
activities_df.groupby(["sell_date"]).agg(num_sol=("product", "nunique"),
                                          products=products_att)

            num_sol                        products
sell_date
2020-05-30        3  Basketball, Headphone, T-Shirt
2020-06-01        2                   Bible, Pencil
2020-06-02        1                            Mask

In [13]:
activities_df.groupby(["sell_date"])["product"].transform(concat_fun)

0    Basketball, Headphone, T-Shirt
1                     Bible, Pencil
2                              Mask
3    Basketball, Headphone, T-Shirt
4                     Bible, Pencil
6    Basketball, Headphone, T-Shirt
Name: product, dtype: object