code:

Write an python to find the start and end number of continuous ranges in the table Logs.

Return the result table ordered by start_id.

The query result format is in the following example.

In [3]:
import pandas as pd
df = pd.DataFrame({
    'log_id': [1, 2, 3, 7, 8, 10]
})

df

   log_id
0       1
1       2
2       3
3       7
4       8
5      10

In [4]:
df.describe()

          log_id
count   6.000000
mean    5.166667
std     3.656045
min     1.000000
25%     2.250000
50%     5.000000
75%     7.750000
max    10.000000

In [5]:
df.dtypes

log_id    int64
dtype: object

In [6]:
df.columns

Index(['log_id'], dtype='object')

In [8]:
df = df.reset_index()
df['index'] = df['index'] + 1
df

   index  log_id
0      1       1
1      2       2
2      3       3
3      4       7
4      5       8
5      6      10

In [9]:
df['diff'] = df['log_id'] - df['index']
df

   index  log_id  diff
0      1       1     0
1      2       2     0
2      3       3     0
3      4       7     3
4      5       8     3
5      6      10     4

In [17]:
result = df.groupby('diff').agg(start_id=('log_id', 'min'),
                       end_id=('log_id', 'max')).reset_index(drop=True)

result, result.shape

(   start_id  end_id
 0         1       3
 1         7       8
 2        10      10,
 (3, 2))

In [23]:
df['diff'] = df['log_id'].diff()

# # Compute the flag for the start of each continuous range
# Logs['start'] = Logs['diff'].fillna(1).ne(1).cumsum()

# # Compute the minimum and maximum log_id for each continuous range
# result = Logs.groupby('start').agg({'log_id': ['min', 'max']}).reset_index()
df

   index  log_id  diff
0      1       1   NaN
1      2       2   1.0
2      3       3   1.0
3      4       7   4.0
4      5       8   1.0
5      6      10   2.0

In [25]:
df['diff'].fillna(1)

0    1.0
1    1.0
2    1.0
3    4.0
4    1.0
5    2.0
Name: diff, dtype: float64

In [27]:
df['diff'].fillna(1).ne(1)

0    False
1    False
2    False
3     True
4    False
5     True
Name: diff, dtype: bool

In [28]:
df['diff'].fillna(1).ne(1).cumsum()

0    0
1    0
2    0
3    1
4    1
5    2
Name: diff, dtype: int32

In [19]:
expected_output = pd.DataFrame({
    'start_id': [1, 7, 10],
    'end_id': [3, 8, 10]
})


# Assert that the result DataFrame is equal to the expected output DataFrame
pd.testing.assert_frame_equal(result, expected_output)

# If the result DataFrame is equal to the expected output DataFrame, the test will pass silently. If they are not equal, the test will raise an AssertionError with details on the differences between the two DataFrames. Note that since the start_id column order may vary, it is necessary to set it as the index for both DataFrames in order to compare them.

In [16]:
expected_output.shape

(3, 2)