## Exercise:

Write python code to find the total score for each gender on each day.

Return the result table ordered by gender and day in ascending order.

The query result format is in the following example.

In [23]:
import pandas as pd
# Create the DataFrame
data = {'player_name': ['Aron', 'Alice', 'Bajrang', 'Khali', 'Slaman', 'Joe', 'Jose', 'Priya', 'Priyanka'],
        'gender': ['F', 'F', 'M', 'M', 'M', 'M', 'M', 'F', 'F'],
        'day': ['2020-01-01', '2020-01-07', '2020-01-07', '2019-12-25', '2019-12-30', '2019-12-31', '2019-12-18', '2019-12-31', '2019-12-30'],
        'score_points': [17, 23, 7, 11, 13, 3, 2, 23, 17]}

scores_df = pd.DataFrame(data)

In [24]:
scores_df.describe()

       score_points
count      9.000000
mean      12.888889
std        7.849275
min        2.000000
25%        7.000000
50%       13.000000
75%       17.000000
max       23.000000

In [25]:
scores_df.dtypes

player_name     object
gender          object
day             object
score_points     int64
dtype: object

In [26]:
scores_df.columns

Index(['player_name', 'gender', 'day', 'score_points'], dtype='object')

In [27]:
scores_df

  player_name gender         day  score_points
0        Aron      F  2020-01-01            17
1       Alice      F  2020-01-07            23
2     Bajrang      M  2020-01-07             7
3       Khali      M  2019-12-25            11
4      Slaman      M  2019-12-30            13
5         Joe      M  2019-12-31             3
6        Jose      M  2019-12-18             2
7       Priya      F  2019-12-31            23
8    Priyanka      F  2019-12-30            17

In [28]:
scores_df['day'] = pd.to_datetime(scores_df['day'])

In [65]:
scores_df = scores_df.sort_values(['gender', 'day'])

In [66]:
scores_df['total'] = scores_df.groupby(['gender']).agg(total=('score_points', 'cumsum'))
scores_df

  player_name gender        day  score_points  Total  total
8    Priyanka      F 2019-12-30            17     80     17
7       Priya      F 2019-12-31            23     63     40
0        Aron      F 2020-01-01            17     17     57
1       Alice      F 2020-01-07            23     40     80
6        Jose      M 2019-12-18             2     36      2
3       Khali      M 2019-12-25            11     18     13
4      Slaman      M 2019-12-30            13     31     26
5         Joe      M 2019-12-31             3     34     29
2     Bajrang      M 2020-01-07             7      7     36

In [67]:
results = scores_df[['gender', 'day', 'total']].sort_values(['gender', 'day']).reset_index(drop=True)
results

  gender        day  total
0      F 2019-12-30     17
1      F 2019-12-31     40
2      F 2020-01-01     57
3      F 2020-01-07     80
4      M 2019-12-18      2
5      M 2019-12-25     13
6      M 2019-12-30     26
7      M 2019-12-31     29
8      M 2020-01-07     36

In [68]:
results.shape

(9, 3)

In [69]:
results['day'] = results['day'].astype(str)
results.dtypes

gender    object
day       object
total      int64
dtype: object

In [70]:
results

  gender         day  total
0      F  2019-12-30     17
1      F  2019-12-31     40
2      F  2020-01-01     57
3      F  2020-01-07     80
4      M  2019-12-18      2
5      M  2019-12-25     13
6      M  2019-12-30     26
7      M  2019-12-31     29
8      M  2020-01-07     36

In [71]:



data = {'gender': ['F', 'F', 'F', 'F', 'M', 'M', 'M', 'M', 'M'],
        'day': ['2019-12-30', '2019-12-31', '2020-01-01', '2020-01-07', '2019-12-18', '2019-12-25', '2019-12-30', '2019-12-31', '2020-01-07'],
        'total': [17, 40, 57, 80, 2, 13, 26, 29, 36]}

expected_df = pd.DataFrame(data)

#

# compare the two dataframes
pd.testing.assert_frame_equal(results, expected_df, check_dtype=False, check_index_type=False, check_like=True)

In [63]:
expected_df.shape

(9, 3)

In [17]:
results.shape

(9, 1)