## Exercise:

Write pandas to report the difference between the number of apples and oranges sold each day.

Return the result table ordered by sale_date.

The query result format is in the following example.

In [5]:
import pandas as pd

data = {'sale_date': ['2020-05-01', '2020-05-01', '2020-05-02', '2020-05-02', '2020-05-03', '2020-05-03', '2020-05-04', '2020-05-04'],
        'fruit': ['apples', 'oranges', 'apples', 'oranges', 'apples', 'oranges', 'apples', 'oranges'],
        'sold_num': [10, 8, 15, 15, 20, 0, 15, 16]}

sales_df = pd.DataFrame(data)
sales_df

    sale_date    fruit  sold_num
0  2020-05-01   apples        10
1  2020-05-01  oranges         8
2  2020-05-02   apples        15
3  2020-05-02  oranges        15
4  2020-05-03   apples        20
5  2020-05-03  oranges         0
6  2020-05-04   apples        15
7  2020-05-04  oranges        16

In [6]:
sales_df.describe()

        sold_num
count   8.000000
mean   12.375000
std     6.209152
min     0.000000
25%     9.500000
50%    15.000000
75%    15.250000
max    20.000000

In [7]:
sales_df.dtypes

sale_date    object
fruit        object
sold_num      int64
dtype: object

In [8]:
sales_df.columns

Index(['sale_date', 'fruit', 'sold_num'], dtype='object')

In [11]:
sales_df['sale_date'] = pd.to_datetime(sales_df['sale_date'])
sales_df

   sale_date    fruit  sold_num
0 2020-05-01   apples        10
1 2020-05-01  oranges         8
2 2020-05-02   apples        15
3 2020-05-02  oranges        15
4 2020-05-03   apples        20
5 2020-05-03  oranges         0
6 2020-05-04   apples        15
7 2020-05-04  oranges        16

In [20]:
sales_df.columns

Index(['sale_date', 'fruit', 'sold_num'], dtype='object')

In [21]:
def diff_apples_oranges(row):
    fruit = row['fruit']
    sold_num = row['sold_num']
    if fruit == 'apples':
        return sold_num
    else:
        return -sold_num

In [ ]:
s

In [28]:
sales_df['sold_num_for_diff'] = sales_df.apply(diff_apples_oranges, axis=1)
sales_df

   sale_date    fruit  sold_num  sold_num_for_diff
0 2020-05-01   apples        10                 10
1 2020-05-01  oranges         8                 -8
2 2020-05-02   apples        15                 15
3 2020-05-02  oranges        15                -15
4 2020-05-03   apples        20                 20
5 2020-05-03  oranges         0                  0
6 2020-05-04   apples        15                 15
7 2020-05-04  oranges        16                -16

In [32]:
result_df = sales_df.groupby(['sale_date']).agg(diff=('sold_num_for_diff', sum)).reset_index()
result_df

   sale_date  diff
0 2020-05-01     2
1 2020-05-02     0
2 2020-05-03    20
3 2020-05-04    -1

In [34]:
output_data = {'sale_date': ['2020-05-01', '2020-05-02', '2020-05-03', '2020-05-04'],
               'diff': [2, 0, 20, -1]}
expected_df = pd.DataFrame(output_data)
expected_df['sale_date'] = pd.to_datetime(expected_df['sale_date'])

# Test if the result_df is equal to the expected_df
pd.testing.assert_frame_equal(result_df, expected_df, check_dtype=False, check_index_type=False, check_like=True)