## Exercise:

Write pandas to report the difference between the number of apples and oranges sold each day.

Return the result table ordered by sale_date.

The query result format is in the following example.

In [2]:
import pandas as pd

data = {'sale_date': ['2020-05-01', '2020-05-01', '2020-05-02', '2020-05-02', '2020-05-03', '2020-05-03', '2020-05-04', '2020-05-04'],
        'fruit': ['apples', 'oranges', 'apples', 'oranges', 'apples', 'oranges', 'apples', 'oranges'],
        'sold_num': [10, 8, 15, 15, 20, 0, 15, 16]}

sales_df = pd.DataFrame(data)
sales_df

    sale_date    fruit  sold_num
0  2020-05-01   apples        10
1  2020-05-01  oranges         8
2  2020-05-02   apples        15
3  2020-05-02  oranges        15
4  2020-05-03   apples        20
5  2020-05-03  oranges         0
6  2020-05-04   apples        15
7  2020-05-04  oranges        16

In [3]:
sales_df.describe()

        sold_num
count   8.000000
mean   12.375000
std     6.209152
min     0.000000
25%     9.500000
50%    15.000000
75%    15.250000
max    20.000000

In [4]:
sales_df.dtypes

sale_date    object
fruit        object
sold_num      int64
dtype: object

In [5]:
sales_df.columns

Index(['sale_date', 'fruit', 'sold_num'], dtype='object')

In [6]:
sales_df['sale_date'] = pd.to_datetime(sales_df['sale_date'])
sales_df

   sale_date    fruit  sold_num
0 2020-05-01   apples        10
1 2020-05-01  oranges         8
2 2020-05-02   apples        15
3 2020-05-02  oranges        15
4 2020-05-03   apples        20
5 2020-05-03  oranges         0
6 2020-05-04   apples        15
7 2020-05-04  oranges        16

In [7]:
sales_df.columns

Index(['sale_date', 'fruit', 'sold_num'], dtype='object')

In [8]:
def diff_apples_oranges(row):
    fruit = row['fruit']
    sold_num = row['sold_num']
    if fruit == 'apples':
        return sold_num
    else:
        return -sold_num

In [9]:
s

NameError: name 's' is not defined

In [10]:
sales_df['sold_num_for_diff'] = sales_df.apply(diff_apples_oranges, axis=1)
sales_df

   sale_date    fruit  sold_num  sold_num_for_diff
0 2020-05-01   apples        10                 10
1 2020-05-01  oranges         8                 -8
2 2020-05-02   apples        15                 15
3 2020-05-02  oranges        15                -15
4 2020-05-03   apples        20                 20
5 2020-05-03  oranges         0                  0
6 2020-05-04   apples        15                 15
7 2020-05-04  oranges        16                -16

In [11]:
result_df = sales_df.groupby(['sale_date']).agg(diff=('sold_num_for_diff', sum)).reset_index()
result_df

   sale_date  diff
0 2020-05-01     2
1 2020-05-02     0
2 2020-05-03    20
3 2020-05-04    -1

In [21]:
pivot_df = sales_df.pivot(values='sold_num', index='sale_date', columns='fruit').reset_index()
pivot_df

fruit  sale_date  apples  oranges
0     2020-05-01      10        8
1     2020-05-02      15       15
2     2020-05-03      20        0
3     2020-05-04      15       16

In [18]:
pivot_df['diff'] = pivot_df['apples'] - pivot_df['oranges']
pivot_df

fruit  sale_date  apples  oranges  diff
0     2020-05-01      10        8     2
1     2020-05-02      15       15     0
2     2020-05-03      20        0    20
3     2020-05-04      15       16    -1

In [19]:
result_df = pivot_df[['sale_date', 'diff']]

In [20]:
output_data = {'sale_date': ['2020-05-01', '2020-05-02', '2020-05-03', '2020-05-04'],
               'diff': [2, 0, 20, -1]}
expected_df = pd.DataFrame(output_data)
expected_df['sale_date'] = pd.to_datetime(expected_df['sale_date'])

# Test if the result_df is equal to the expected_df
pd.testing.assert_frame_equal(result_df, expected_df, check_dtype=False, check_index_type=False, check_like=True)

In [22]:
import pandas as pd

# Utwórz DataFrame
data = {'A': [1, 2, 3],
        'B': [4, 5, 6],
        'C': [7, 8, 9]}
df = pd.DataFrame(data)

# Utwórz Series
s = pd.Series([1, 2, 3], index=['A', 'B', 'C'])

# Broadcasting: Odejmij Series 's' od DataFrame 'df'
result = df - s
print(result)

   A  B  C
0  0  2  4
1  1  3  5
2  2  4  6

In [23]:
df

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9