## Exercise:

Write pandas to report all the duplicate emails. Note that it's guaranteed that the email field is not NULL.

Return the result table in any order.

The query result format is in the following example.

In [10]:
import pandas as pd
import numpy as np

list_of_emails = ['yet@some.com', 'yetAnotheruseless_email@gmail.com', 'a@b.com', 'c@d.com', 'a@b.com', 'yetAnotheruseless_email@gmail.com', 'yetAnotheruseless_email@gmail.com']
indexes = np.arange(1, len(list_of_emails) + 1)
data = {'id': indexes, 'email': list_of_emails}
person_df = pd.DataFrame(data)

print(person_df)

   id                              email
0   1                       yet@some.com
1   2  yetAnotheruseless_email@gmail.com
2   3                            a@b.com
3   4                            c@d.com
4   5                            a@b.com
5   6  yetAnotheruseless_email@gmail.com
6   7  yetAnotheruseless_email@gmail.com

In [ ]:
person_df.describe()

        id
count  3.0
mean   2.0
std    1.0
min    1.0
25%    1.5
50%    2.0
75%    2.5
max    3.0

In [6]:
person_df.dtypes

id        int64
email    object
dtype: object

In [4]:
person_df.columns

Index(['id', 'email'], dtype='object')

In [18]:
cond = person_df.duplicated(subset=['email'])
cond

0    False
1    False
2    False
3    False
4     True
5     True
6     True
dtype: bool

In [22]:
person_df.loc[cond].drop_duplicates(subset=['email'])['email'].tolist()

['a@b.com', 'yetAnotheruseless_email@gmail.com']