## Exercise:

Write pandas code for a report that provides the pairs (actor_id, director_id) where the actor has cooperated with the director at least three times.

Return the result table in any order.

In [2]:
import pandas as pd

# Creating the ActorDirector DataFrame
data = {'actor_id': [1, 1, 1, 1, 1, 2, 2],
        'director_id': [1, 1, 1, 2, 2, 1, 1],
        'timestamp': [0, 1, 2, 3, 4, 5, 6]}
actor_director_df = pd.DataFrame(data)

In [3]:
actor_director_df.describe()

       actor_id  director_id  timestamp
count  7.000000     7.000000   7.000000
mean   1.285714     1.285714   3.000000
std    0.487950     0.487950   2.160247
min    1.000000     1.000000   0.000000
25%    1.000000     1.000000   1.500000
50%    1.000000     1.000000   3.000000
75%    1.500000     1.500000   4.500000
max    2.000000     2.000000   6.000000

In [4]:
actor_director_df.dtypes

actor_id       int64
director_id    int64
timestamp      int64
dtype: object

In [5]:
actor_director_df.columns

Index(['actor_id', 'director_id', 'timestamp'], dtype='object')

In [35]:
time_stamp_df = actor_director_df.groupby(['actor_id', 'director_id']).transform('count')
time_stamp_df, type(time_stamp_df)

(   timestamp
 0          3
 1          3
 2          3
 3          2
 4          2
 5          2
 6          2,
 pandas.core.frame.DataFrame)

In [37]:
time_stamp_df = actor_director_df.groupby(['actor_id', 'director_id'])['timestamp'].transform('count')
time_stamp_df, type(time_stamp_df)

(0    3
 1    3
 2    3
 3    2
 4    2
 5    2
 6    2
 Name: timestamp, dtype: int64,
 pandas.core.series.Series)

In [42]:
cond =  time_stamp_df >= 3
actor_director_df[cond].drop_duplicates(subset=['actor_id', 'director_id'])[['actor_id', 'director_id']]

   actor_id  director_id
0         1            1

In [21]:
actor_director_df

   actor_id  director_id  timestamp
0         1            1          0
1         1            1          1
2         1            1          2
3         1            2          3
4         1            2          4
5         2            1          5
6         2            1          6

In [24]:
actor_director_df.shape, cond.shape

((7, 3), (7, 1))

In [28]:
actor_director_df[cond]

   actor_id  director_id  timestamp
0       NaN          NaN        0.0
1       NaN          NaN        1.0
2       NaN          NaN        2.0
3       NaN          NaN        NaN
4       NaN          NaN        NaN
5       NaN          NaN        NaN
6       NaN          NaN        NaN