## Exercise:

Write pandas code that reports the products that were only sold in the first quarter of 2019. That is, between 2019-01-01 and 2019-03-31 inclusive.

Return the result table in any order.

The query result format is in the following example.

In [1]:
import pandas as pd

# Creating the Product DataFrame
product_data = {'product_id': [1, 2, 3],
            'product_name': ['S8', 'G4', 'iPhone'],
            'unit_price': [1000, 800, 1400]}
product_df = pd.DataFrame(product_data)

# Creating the Sales DataFrame
sales_data = {'seller_id': [1, 1, 2, 3],
            'product_id': [1, 2, 2, 3],
            'buyer_id': [1, 2, 3, 4],
            'sale_date': ['2019-01-21', '2019-02-17', '2019-06-02', '2019-05-13'],
            'quantity': [2, 1, 1, 2],
            'price': [2000, 800, 800, 2800]}
sales_df = pd.DataFrame(sales_data)

In [3]:
sales_df.describe()

       seller_id  product_id  buyer_id  quantity        price
count   4.000000    4.000000  4.000000   4.00000     4.000000
mean    1.750000    2.000000  2.500000   1.50000  1600.000000
std     0.957427    0.816497  1.290994   0.57735   979.795897
min     1.000000    1.000000  1.000000   1.00000   800.000000
25%     1.000000    1.750000  1.750000   1.00000   800.000000
50%     1.500000    2.000000  2.500000   1.50000  1400.000000
75%     2.250000    2.250000  3.250000   2.00000  2200.000000
max     3.000000    3.000000  4.000000   2.00000  2800.000000

In [4]:
sales_df.dtypes

seller_id      int64
product_id     int64
buyer_id       int64
sale_date     object
quantity       int64
price          int64
dtype: object

In [5]:
sales_df.columns

Index(['seller_id', 'product_id', 'buyer_id', 'sale_date', 'quantity',
       'price'],
      dtype='object')

In [7]:
sales_df

   seller_id  product_id  buyer_id   sale_date  quantity  price
0          1           1         1  2019-01-21         2   2000
1          1           2         2  2019-02-17         1    800
2          2           2         3  2019-06-02         1    800
3          3           3         4  2019-05-13         2   2800

In [8]:
sales_df['sale_date'] = pd.to_datetime(sales_df['sale_date'])
sales_df['sale_date']

0   2019-01-21
1   2019-02-17
2   2019-06-02
3   2019-05-13
Name: sale_date, dtype: datetime64[ns]

In [12]:
cond = (sales_df['sale_date'] < '2019-01-01') | (sales_df['sale_date'] > '2019-03-31')
cond

0    False
1    False
2     True
3     True
Name: sale_date, dtype: bool

In [14]:
not_in_q1_2019 = sales_df[cond]['product_id']
not_in_q1_2019

2    2
3    3
Name: product_id, dtype: int64

In [19]:
only_2019 = ~product_df['product_id'].isin(not_in_q1_2019)
only_2019

0     True
1    False
2    False
Name: product_id, dtype: bool

In [21]:
product_df[only_2019][['product_id', 'product_name']]

   product_id product_name
0           1           S8