## Exercise:

Write code in pandas to report the names of all the salespersons who did not have any orders related to the company with the name "RED".

Return the result table in any order.

The query result format is in the following example.

In [7]:
import pandas as pd

# Creating the SalesPerson DataFrame
salesperson_data = {'sales_id': [1, 2, 3, 4, 5],
                    'name': ['John', 'Amy', 'Mark', 'Pam', 'Alex'],
                    'salary': [100000, 12000, 65000, 25000, 5000],
                    'commission_rate': [6, 5, 12, 25, 10],
                    'hire_date': ['4/1/2006', '5/1/2010', '12/25/2008', '1/1/2005', '2/3/2007']}
salesperson_df = pd.DataFrame(salesperson_data)

# Creating the Company DataFrame
company_data = {'com_id': [1, 2, 3, 4],
                'name': ['RED', 'ORANGE', 'YELLOW', 'GREEN'],
                'city': ['Boston', 'New York', 'Boston', 'Austin']}
company_df = pd.DataFrame(company_data)

# Creating the Orders DataFrame
orders_data = {'order_id': [1, 2, 3, 4],
               'order_date': ['1/1/2014', '2/1/2014', '3/1/2014', '4/1/2014'],
               'com_id': [3, 4, 1, 1],
               'sales_id': [4, 5, 1, 4],
               'amount': [10000, 5000, 50000, 25000]}
orders_df = pd.DataFrame(orders_data)

In [8]:
orders_df.describe()

       order_id  com_id  sales_id        amount
count  4.000000    4.00  4.000000      4.000000
mean   2.500000    2.25  3.500000  22500.000000
std    1.290994    1.50  1.732051  20207.259422
min    1.000000    1.00  1.000000   5000.000000
25%    1.750000    1.00  3.250000   8750.000000
50%    2.500000    2.00  4.000000  17500.000000
75%    3.250000    3.25  4.250000  31250.000000
max    4.000000    4.00  5.000000  50000.000000

In [9]:
orders_df.dtypes

order_id       int64
order_date    object
com_id         int64
sales_id       int64
amount         int64
dtype: object

In [10]:
orders_df.columns

Index(['order_id', 'order_date', 'com_id', 'sales_id', 'amount'], dtype='object')

In [23]:
red_sales_people = orders_df.merge(company_df, on='com_id')['name'] == 'RED'
red_sales_ids = orders_df[red_sales_people]['sales_id']
red_sales_ids

2    1
3    4
Name: sales_id, dtype: int64

In [26]:
salesperson_df[~salesperson_df['sales_id'].isin(red_sales_ids)]['name']

1     Amy
2    Mark
4    Alex
Name: name, dtype: object