## Exercise:

Write a pandas code to find the average selling price for each product. average_price should be rounded to 2 decimal places.

Return the result table in any order.

The query result format is in the following example.

In [1]:
import pandas as pd

# Input DataFrames
prices_data = {
    'product_id': [1, 1, 2, 2],
    'start_date': ['2019-02-17', '2019-03-01', '2019-02-01', '2019-02-21'],
    'end_date': ['2019-02-28', '2019-03-22', '2019-02-20', '2019-03-31'],
    'price': [5, 20, 15, 30]
}
prices_df = pd.DataFrame(prices_data)

units_sold_data = {
    'product_id': [1, 1, 2, 2],
    'purchase_date': ['2019-02-25', '2019-03-01', '2019-02-10', '2019-03-22'],
    'units': [100, 15, 200, 30]
}
units_sold_df = pd.DataFrame(units_sold_data)

In [2]:
units_sold_df.describe()

       product_id       units
count     4.00000    4.000000
mean      1.50000   86.250000
std       0.57735   84.397374
min       1.00000   15.000000
25%       1.00000   26.250000
50%       1.50000   65.000000
75%       2.00000  125.000000
max       2.00000  200.000000

In [3]:
units_sold_df.dtypes

product_id        int64
purchase_date    object
units             int64
dtype: object

In [4]:
units_sold_df.columns

Index(['product_id', 'purchase_date', 'units'], dtype='object')

In [5]:
units_sold_df

   product_id purchase_date  units
0           1    2019-02-25    100
1           1    2019-03-01     15
2           2    2019-02-10    200
3           2    2019-03-22     30

In [6]:
prices_data

{'product_id': [1, 1, 2, 2],
 'start_date': ['2019-02-17', '2019-03-01', '2019-02-01', '2019-02-21'],
 'end_date': ['2019-02-28', '2019-03-22', '2019-02-20', '2019-03-31'],
 'price': [5, 20, 15, 30]}

In [ ]:
prices_data.merge(units_sold_df, on='product_id')

In [10]:
units_sold_df['purchase_date'] = pd.to_datetime(units_sold_df['purchase_date'])
prices_df['start_date'] = pd.to_datetime(prices_df['start_date'])
prices_df['end_date'] = pd.to_datetime(prices_df['end_date'])

In [13]:
merged_df = pd.merge_asof(units_sold_df.sort_values('purchase_date'), prices_df.sort_values('start_date'), left_on='purchase_date',
              right_on='start_date', by='product_id', direction='backward')
merged_df

   product_id purchase_date  units start_date   end_date  price
0           2    2019-02-10    200 2019-02-01 2019-02-20     15
1           1    2019-02-25    100 2019-02-17 2019-02-28      5
2           1    2019-03-01     15 2019-03-01 2019-03-22     20
3           2    2019-03-22     30 2019-02-21 2019-03-31     30

In [15]:
def average_price(row):
    return sum(row['units']*row['price'])/sum(row['units'])

In [21]:
merged_df.groupby(['product_id']).apply(average_price).reset_index(name='average_price').round(2)

   product_id  average_price
0           1           6.96
1           2          16.96

In [1]:
import pandas as pd

# Input DataFrames
prices_data = {
    'product_id': [1, 1, 2, 2],
    'start_date': ['2019-02-17', '2019-03-01', '2019-02-01', '2019-02-21'],
    'end_date': ['2019-02-28', '2019-03-22', '2019-02-20', '2019-03-31'],
    'price': [5, 20, 15, 30]
}
prices_df = pd.DataFrame(prices_data)

units_sold_data = {
    'product_id': [1, 1, 2, 2],
    'purchase_date': ['2019-02-25', '2019-03-01', '2019-02-10', '2019-03-22'],
    'units': [100, 15, 200, 30]
}
units_sold_df = pd.DataFrame(units_sold_data)

# Convert date columns to datetime objects
prices_df['start_date'] = pd.to_datetime(prices_df['start_date'])
prices_df['end_date'] = pd.to_datetime(prices_df['end_date'])
units_sold_df['purchase_date'] = pd.to_datetime(units_sold_df['purchase_date'])

# Merge the DataFrames based on product_id and purchase_date within the range [start_date, end_date]
prices_units = pd.merge_asof(units_sold_df.sort_values('purchase_date'), prices_df.sort_values('start_date'),
                             left_on='purchase_date', right_on='start_date',
                             left_by='product_id', right_by='product_id', direction='backward')

# Calculate the total price for each product
prices_units['total_price'] = prices_units['units'] * prices_units['price']

# Group by product_id and compute the average_price
result = prices_units.groupby('product_id').agg(
    units_sum=('units', 'sum'),
    total_price_sum=('total_price', 'sum')
)
result['average_price'] = (result['total_price_sum'] / result['units_sum']).round(2)
result = result[['average_price']].reset_index()

print(result)

   product_id  average_price
0           1           6.96
1           2          16.96

In [2]:
expected_output_data = {
    'product_id': [1, 2],
    'average_price': [6.96, 16.96]
}
expected_output_df = pd.DataFrame(expected_output_data)

# Compare the result with the expected_output_df using assert_frame_equal
pd.testing.assert_frame_equal(results_df, expected_output_df, check_dtype=False, check_index_type=False, check_like=True)

NameError: name 'results_df' is not defined

In [3]:
prices_df['start_date'] = pd.to_datetime(prices_df['start_date'])
prices_df['end_date'] = pd.to_datetime(prices_df['end_date'])
units_sold_df['purchase_date'] = pd.to_datetime(units_sold_df['purchase_date'])

In [4]:
prices_df

   product_id start_date   end_date  price
0           1 2019-02-17 2019-02-28      5
1           1 2019-03-01 2019-03-22     20
2           2 2019-02-01 2019-02-20     15
3           2 2019-02-21 2019-03-31     30

In [5]:
units_sold_df

   product_id purchase_date  units
0           1    2019-02-25    100
1           1    2019-03-01     15
2           2    2019-02-10    200
3           2    2019-03-22     30

In [8]:
merged_df = prices_df.merge(units_sold_df, on='product_id')
merged_df

   product_id start_date   end_date  price purchase_date  units
0           1 2019-02-17 2019-02-28      5    2019-02-25    100
1           1 2019-02-17 2019-02-28      5    2019-03-01     15
2           1 2019-03-01 2019-03-22     20    2019-02-25    100
3           1 2019-03-01 2019-03-22     20    2019-03-01     15
4           2 2019-02-01 2019-02-20     15    2019-02-10    200
5           2 2019-02-01 2019-02-20     15    2019-03-22     30
6           2 2019-02-21 2019-03-31     30    2019-02-10    200
7           2 2019-02-21 2019-03-31     30    2019-03-22     30

In [9]:
merged_df.columns

Index(['product_id', 'start_date', 'end_date', 'price', 'purchase_date',
       'units'],
      dtype='object')

In [11]:
cond = (merged_df['purchase_date'] >= merged_df['start_date']) & (merged_df['purchase_date'] <= merged_df['end_date'])

cond

0     True
1    False
2    False
3     True
4     True
5    False
6    False
7     True
dtype: bool

In [15]:
def average_price(row):
    return sum(row['units']*row['price'])/sum(row['units'])

In [18]:
merged_df[cond].groupby('product_id').apply(average_price).reset_index(name='average_price').round(2)

   product_id  average_price
0           1           6.96
1           2          16.96