## Exercise:

Write an SQL query to find for each month and country, the number of transactions and their total amount, the number of approved transactions and their total amount.

Return the result table in any order.

The query result format is in the following example.

In [2]:
import pandas as pd

data = {'id': [121, 122, 123, 124],
        'country': ['US', 'US', 'US', 'DE'],
        'state': ['approved', 'declined', 'approved', 'approved'],
        'amount': [1000, 2000, 2000, 2000],
        'trans_date': ['2018-12-18', '2018-12-19', '2019-01-01', '2019-01-07']}

df = pd.DataFrame(data)

In [3]:
df.describe()

               id  amount
count    4.000000     4.0
mean   122.500000  1750.0
std      1.290994   500.0
min    121.000000  1000.0
25%    121.750000  1750.0
50%    122.500000  2000.0
75%    123.250000  2000.0
max    124.000000  2000.0

In [4]:
df.dtypes

id             int64
country       object
state         object
amount         int64
trans_date    object
dtype: object

In [5]:
df.columns

Index(['id', 'country', 'state', 'amount', 'trans_date'], dtype='object')

In [9]:
df['trans_date'] = pd.to_datetime(df['trans_date'])

In [11]:
df['month'] = df['trans_date'].dt.strftime('%Y-%m')

In [21]:
def compute_amount_approved(row):
    if row['state'] == 'approved':
        return row['amount']
    else:
        return 0

In [23]:
df['amount_approved'] = df.apply(compute_amount_approved, axis=1)

In [24]:
df.groupby(['month', 'country']).agg(
    trans_count=('amount', 'count'),
    approved_counts =(
        'state',
        lambda x: (x=='approved').sum()
    ),
    trans_total_amount=('amount', 'sum'),
    approved_total_amount=(
        'amount_approved',
        'sum'
    )
).reset_index()

,month,country,trans_count,approved_counts,trans_total_amount,approved_total_amount
0,2018-12,US,2,1,3000,1000
1,2019-01,DE,1,1,2000,2000
2,2019-01,US,1,1,2000,2000

TypeError: compute_amount_approved() got an unexpected keyword argument 'axis'