Exercise:

Create a Pandas DataFrame named logins_df that represents the Logins table with the following columns: user_id and time_stamp. Then, write a Python script using Pandas to find the latest login for all users in the year 2020. Do not include the users who did not login in 2020.

Example 1:

Input:
logins_df:

In [5]:
import pandas as pd

# Create the Logins DataFrame
data = {'user_id': [6, 6, 6, 8, 8, 2, 2, 14, 14],
        'time_stamp': ['2020-06-30 15:06:07', '2021-04-21 14:06:06', '2019-03-07 00:18:15', 
                       '2020-02-01 05:10:53', '2020-12-30 00:46:50', '2020-01-16 02:49:50', 
                       '2019-08-25 07:59:08', '2019-07-14 09:00:00', '2021-01-06 11:59:59']}
logins_df = pd.DataFrame(data)
logins_df

   user_id           time_stamp
0        6  2020-06-30 15:06:07
1        6  2021-04-21 14:06:06
2        6  2019-03-07 00:18:15
3        8  2020-02-01 05:10:53
4        8  2020-12-30 00:46:50
5        2  2020-01-16 02:49:50
6        2  2019-08-25 07:59:08
7       14  2019-07-14 09:00:00
8       14  2021-01-06 11:59:59

In [3]:
logins_df.describe()

         user_id
count   9.000000
mean    7.333333
std     4.358899
min     2.000000
25%     6.000000
50%     6.000000
75%     8.000000
max    14.000000

In [6]:
logins_df.dtypes

user_id        int64
time_stamp    object
dtype: object

In [7]:
logins_df.columns

Index(['user_id', 'time_stamp'], dtype='object')

In [8]:
logins_df["time_stamp"] = pd.to_datetime(logins_df["time_stamp"])
logins_df.dtypes

user_id                int64
time_stamp    datetime64[ns]
dtype: object

In [9]:
only_2020_logins_df = logins_df.loc[logins_df["time_stamp"].dt.year == 2020]
only_2020_logins_df

   user_id          time_stamp
0        6 2020-06-30 15:06:07
3        8 2020-02-01 05:10:53
4        8 2020-12-30 00:46:50
5        2 2020-01-16 02:49:50

In [11]:
only_2020_logins_df.groupby(["user_id"]).max().reset_index()

   user_id          time_stamp
0        2 2020-01-16 02:49:50
1        6 2020-06-30 15:06:07
2        8 2020-12-30 00:46:50