## Exercise:

Write an pandas code to find all the authors that viewed at least one of their own articles.

Return the result table sorted by id in ascending order.

The query result format is in the following example.

In [5]:
import pandas as pd

# Create the Views table as a dataframe
views_df = pd.DataFrame({
    'article_id': [1, 1, 2, 2, 4, 3, 3],
    'author_id': [3, 3, 7, 7, 7, 4, 4],
    'viewer_id': [5, 6, 7, 6, 1, 4, 4],
    'view_date': ['2019-08-01', '2019-08-02', '2019-08-01', '2019-08-02', '2019-07-22', '2019-07-21', '2019-07-21']
})

In [10]:
views_df.shape

(7, 4)

In [12]:
views_df.drop_duplicates(inplace=True)

In [13]:
views_df.shape

(6, 4)

In [6]:
views_df.describe()

       article_id  author_id  viewer_id
count    7.000000   7.000000   7.000000
mean     2.285714   5.000000   4.714286
std      1.112697   1.914854   1.976047
min      1.000000   3.000000   1.000000
25%      1.500000   3.500000   4.000000
50%      2.000000   4.000000   5.000000
75%      3.000000   7.000000   6.000000
max      4.000000   7.000000   7.000000

In [7]:
views_df.dtypes

article_id     int64
author_id      int64
viewer_id      int64
view_date     object
dtype: object

In [8]:
views_df.columns

Index(['article_id', 'author_id', 'viewer_id', 'view_date'], dtype='object')

In [16]:

cond = views_df.author_id == views_df.viewer_id
views_df[cond]["viewer_id"].sort_values().tolist()

[4, 7]