## Exercise:

Create a Pandas DataFrame named logins_df that represents the Logins table with the following columns: user_id and time_stamp. Then, write a Python script using Pandas to find the latest login for all users in the year 2020. Do not include the users who did not login in 2020.

Example 1:

Input:
logins_df:

In [41]:
import pandas as pd
import numpy as np
# Create the Tree table as a dataframe
tree_df = pd.DataFrame({
    'id': [1, 2, 3, 4, 5],
    'p_id': [None, 1, 1, 2, 2]
})
tree_df

   id  p_id
0   1   NaN
1   2   1.0
2   3   1.0
3   4   2.0
4   5   2.0

In [42]:
tree_df.describe()

             id     p_id
count  5.000000  4.00000
mean   3.000000  1.50000
std    1.581139  0.57735
min    1.000000  1.00000
25%    2.000000  1.00000
50%    3.000000  1.50000
75%    4.000000  2.00000
max    5.000000  2.00000

In [43]:
tree_df.dtypes

id        int64
p_id    float64
dtype: object

In [44]:
tree_df.columns

Index(['id', 'p_id'], dtype='object')

In [45]:
def classify_tree_part(row):
    p_id = row["p_id"]
    if np.isnan(p_id):
        return "Root"
    else:
        return "Leaf"

In [46]:
type(tree_df["p_id"].iloc[0]), np.isnan(tree_df["p_id"].iloc[0])

(numpy.float64, True)

In [47]:
tree_df["part_of_tree"] = tree_df.apply(classify_tree_part, axis=1)
tree_df

   id  p_id part_of_tree
0   1   NaN         Root
1   2   1.0         Leaf
2   3   1.0         Leaf
3   4   2.0         Leaf
4   5   2.0         Leaf

In [56]:
cond1 = tree_df["id"].isin(tree_df["p_id"])
cond2 =  np.isnan(tree_df["p_id"])

cond1, cond2

(0     True
 1     True
 2    False
 3    False
 4    False
 Name: id, dtype: bool,
 0     True
 1    False
 2    False
 3    False
 4    False
 Name: p_id, dtype: bool)

In [51]:
tree_df.loc[cond1 & ~cond2, "part_of_tree"] = "Inner"

In [52]:
tree_df

   id  p_id part_of_tree
0   1   NaN         Root
1   2   1.0        Inner
2   3   1.0         Leaf
3   4   2.0         Leaf
4   5   2.0         Leaf

In [53]:
tree_df

   id  p_id part_of_tree
0   1   NaN         Root
1   2   1.0        Inner
2   3   1.0         Leaf
3   4   2.0         Leaf
4   5   2.0         Leaf

In [73]:
def classify_tree_part2(row):
    p_id = row["p_id"]
    id_to_check = row["id"]
    if np.isnan(p_id):
        return "Root"
    elif id_to_check in tree_df["p_id"].values:
        print(row)
        return "Inner"
    else:
        return "Leaf"

In [74]:
tree_df.apply(classify_tree_part2, axis=1)

id                  2
p_id              1.0
part_of_tree    Inner
Name: 1, dtype: object

0     Root
1    Inner
2     Leaf
3     Leaf
4     Leaf
dtype: object

In [75]:
3 in tree_df["p_id"]

True

In [72]:
3 in tree_df["p_id"].values

False