To practice with Pandas, you can first create a DataFrame representing the Activity table. Then, you can use Pandas functions to find the first login date for each player. Here's the revised exercise and the solution:

Exercise:

Create a Pandas DataFrame named activity_df that represents the Activity table with the following columns: player_id, device_id, event_date, and games_played. Then, write a Python script using Pandas to find the first login date for each player.

Example 1:

Input:
activity_df:

In [8]:
import pandas as pd

# Create the Activity DataFrame
data = {'player_id': [1, 1, 2, 3, 3],
        'device_id': [2, 2, 3, 1, 4],
        'event_date': ['2016-03-01', '2016-05-02', '2017-06-25', '2016-03-02', '2018-07-03'],
        'games_played': [5, 6, 1, 0, 5]}
activity_df = pd.DataFrame(data)
activity_df.head()

   player_id  device_id  event_date  games_played
0          1          2  2016-03-01             5
1          1          2  2016-05-02             6
2          2          3  2017-06-25             1
3          3          1  2016-03-02             0
4          3          4  2018-07-03             5

In [6]:
activity_df.describe()

       player_id  device_id  games_played
count        5.0   5.000000      5.000000
mean         2.0   2.400000      3.400000
std          1.0   1.140175      2.701851
min          1.0   1.000000      0.000000
25%          1.0   2.000000      1.000000
50%          2.0   2.000000      5.000000
75%          3.0   3.000000      5.000000
max          3.0   4.000000      6.000000

In [7]:
activity_df.dtypes

player_id        int64
device_id        int64
event_date      object
games_played     int64
dtype: object

In [9]:
activity_df["event_date"] = pd.to_datetime(activity_df["event_date"])
activity_df.dtypes

player_id                int64
device_id                int64
event_date      datetime64[ns]
games_played             int64
dtype: object

In [12]:
first_login_df = activity_df.groupby(["player_id"])["event_date"].min().reset_index()
first_login_df

   player_id event_date
0          1 2016-03-01
1          2 2017-06-25
2          3 2016-03-02