In [1]:
import pandas as pd

In [19]:
# Create the Orders DataFrame
data = {'order_number': [1, 2, 3, 4, 5],
        'customer_number': [1, 2, 3, 3, 2]}
orders_df = pd.DataFrame(data)

In [20]:
orders_df

   order_number  customer_number
0             1                1
1             2                2
2             3                3
3             4                3
4             5                2

Write an python code to find the customer_number for the customer who has placed the largest number of orders.

The test cases are generated so that exactly one customer will have placed more orders than any other customer.

The query result format is in the following example.

To perform this task using Pandas in Python, you need to first convert the Orders table into a Pandas DataFrame. Then, you can use Pandas functions to count the orders for each customer and find the customer with the largest number of orders. Here's the code for this:

In [37]:
orders_count  = orders_df.groupby(["customer_number"])["order_number"].count().reset_index()
max_orders_count = orders_count["order_number"].max()
orders_count, max_orders_count

(   customer_number  order_number
 0                1             1
 1                2             2
 2                3             2,
 2)

In [38]:
orders_count

   customer_number  order_number
0                1             1
1                2             2
2                3             2

In [43]:

cond = orders_count["order_number"] == max_orders_count
print(cond)
# orders_count
customer_with_most_orders = orders_count[cond]
print(f"Here are ids of clients with the maximum number of orders {customer_with_most_orders['customer_number'].tolist()}")
customer_with_most_orders

0    False
1     True
2     True
Name: order_number, dtype: bool
Here are ids of clients with the maximum number of orders [2, 3]

   customer_number  order_number
1                2             2
2                3             2

For the follow-up question, if there are multiple customers with the largest number of orders, you can find all of them using the following code: